body {
    margin: 0;
    overflow: hidden;
    position: relative;
    background: #ff0000;
    color: white;

    font-family: sans-serif;
    
}

/* =========================
   タイトル画面
========================= */

#title-screen {

    position: absolute;

    width: 100%;
    height: 100vh;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
    linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)
    ),
    url("image/haiukei.jpeg");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;
}

#title {

    font-size: 72px;
    letter-spacing: 5px;
}

#start-text {

    margin-top: 20px;

    opacity: 0.7;

    animation: blink 1.5s infinite;
}

/* 点滅 */
@keyframes blink {

    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

/* =========================
   波紋
========================= */

#ripple {

    position: absolute;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background: rgba(255,255,255,0.3);

    transform: scale(0);

    pointer-events: none;

    z-index: 9999;
}

/* 波紋アニメ */
.ripple-animation {

    animation: rippleEffect 0.8s ease-out forwards;
}

@keyframes rippleEffect {

    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(100);
        opacity: 0;
    }
}

/* =========================
   楽曲選択
========================= */

#song-screen {

    position: absolute;

    width: 100%;
    height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;

    transition: 1s;

    background:
    linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)
    ),
    url("image/haiukei.jpeg");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;
}

/* 最初は非表示 */
.hidden {
    visibility: hidden;
    pointer-events: none;

}
.touch {
    color:#ff0000 !important;
}
/* 曲カード */
.song-card {

    width: 300px;

    padding: 20px;

    background: rgba(255,255,255,0.30);

    border: 1px solid rgba(255,255,255,0.4);

    text-align: center;

    cursor: pointer;

    transition: 0.3s;
}

/* マウス乗せた時 */
.song-card:hover {

    transform: scale(1.05);

    background: rgba(255,255,255,0.2);
}

/* 追加 */
#lyric-screen {

    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    /*background: #111;*/

}

#lyric-text {

    font-size: 64px;
    color: white;

    text-align: center;

    letter-spacing: 5px;
}

/*#game-screen {

    position: absolute;

    width: 100%;
    height: 100vh;

    background: black;

    display: flex;

    justify-content: center;
    align-items: center;

    color: white;

    font-size: 64px;
}*/

#media {
    position: absolute;
    right: 10px;
    bottom: 30px;
    z-index: 10;
}

#control {
    position: absolute;
    
    bottom: 100px;
    padding: 5px;
    background: rgba(255,0,0,0.2);
}
  
  #control > button {
    margin-right: 5px;
  }
  #control > button:last-child {
    margin-right: 0;
  }

/* =========================
   ゲーム画面
========================= */

#game-screen {

    position: absolute;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    /*position: relative;*/ 
}


/* =========================
   黒帯
========================= */

#top-bar,
#bottom-bar {

    position: absolute;

    width: 100%;
    height: 90px;/* 高さ調整 */

    background: rgba(0,0,0,0.80);

    /*background: black;*/

    z-index: 100;
}

/* 上 */
#top-bar {
    top: 0;
}

/* 下 */
#bottom-bar {
    bottom: 0;
}


/* 湖 */
#lake {

    position: absolute;

    width: 100%;
    height: 100%;

    background:
    linear-gradient(
        to bottom,
        #d6f7ff,
    #8fe0fb,
    #5cc8ec,
    #5cc8ec
    );

    /*repeating-linear-gradient(
            90deg,
            rgba(255,255,255,0.03),
            rgba(255,255,255,0.03) 2px,
            transparent 2px,
            transparent 20px
        );*/
}

/* ボート */
/*#boat {

   position: absolute;

    width: 100px;
    height: 100px;

    left: 50%;
    top: 50%;

    background: url("image/bo-tokari.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 10;
}
*/
#world {
     position: absolute;
    width: 100%;
    height: 100%;

    z-index: 1;
}

#boat {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#miku {

    position: absolute;

    width: 300px;
    height: 500px;

    left: 5px;
    bottom: -30px;

    background: url("image/ミクピアノ2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 20;
}
.txt {
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}

#songArtist,
#songTitle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
}
#songArtist {
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 18px;
    
}
#phraseContent {
    font-size: 24px;
}

#wordText {
    opacity: 0;
    color: #fff;
    font-size: 50px;

}



#lyrics-container {

    position: absolute;

    width: 100%;
    height: 100%;

    pointer-events: none;

    z-index: 50;
}

/* 飛ぶ歌詞 */
#lyrics-container {

    position: absolute;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    pointer-events: none;

    z-index: 50;
}

.fly-lyric {

    position: absolute;

    color: rgba(255,255,255,0.9);

    font-size: 80px;

      animation: lyricFly 3s ease-in-out forwards;
}

@keyframes lyricFly {

    0% {
        opacity: 0;

        transform:
            translate(0px, 0px)
            scale(0.8);
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 0;

        transform:
          translate(200px, -180px)
          rotate(-8deg)
          scale(1.2);
    }
}



/* =========================
   歌詞生成スポナー
   =========================*/
#spawn-point {

    position: absolute;

    width: 10px;
    height: 10px;

    left: 200px;   /* ←弦の位置に調整 */
    top: 450px;    /* ←弦の位置に調整 */

    pointer-events: none;

    /* デバッグ用（あとで消す） */
    background: red;
}
